/* Universal styling */
body {
    font-family: 'Rubik', sans-serif;
    background-color: #291720;
    color: #ffffff;
}

header {
    padding-right: 1vw;
    color:#a42373;
    text-align: right;
}

h1 {
    font-family:'Silkscreen', sans-serif;
    font-size: 3vw;
    display: inline;
    margin: auto;
}

h2 {
    color:#a42373;
    text-align: center;
    font-size: 1.7rem;
}

h3 {
    color: #88ebce;
}

p {
    color:#ffffff;
    font-size: 1.2rem;

}

button {
    background-color: #16324a;
    border-radius: 1rem;
    color: #b8ebb3;
    font-family:'Silkscreen', sans-serif;
    padding: 1vh;
    margin: auto;
    text-align: center;
}

button:hover {
    background-color: #b8ebb3;
    color: #a42373;
}

a {
    color: #b8ebb3;
}

a:hover {
    color: #16324a;
}

/*Modal pop up*/
.modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.modal-inner h2 {
    margin: 0;
}

.modal-inner p {
    line-height: 24px;
    margin: 10px 0;
    color: #291720;
}

.pop-up-button {
    margin: auto;
    text-align: center;
}

/* Text image overlays */
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image-text {
    color:#b8ebb3;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.image-text-dark {
    color:#16324a;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.drawer-layout:hover .overlay{
    opacity: 1;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.game-area {
    margin: 1vw;
    margin-bottom: 120px;
}
/* Drink name */
#drink-random {
    font-family:'Silkscreen', sans-serif;
    color:#88ebce;
    text-align: center;
    font-size: 40px;
}

/* Ingredients Drawer */

#ingredients_drawer { 
    background-color: #a42373;
    padding: 50px;
    border-radius: 2rem;
    height: auto;
    margin:auto;
}

.drawer-layout {
    &:hover{
        opacity: 0.4;
    };
    display: block;
    position: relative;
    cursor: pointer;
}

.drawer-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.reset {
    text-align: center;
}

.buttons-row {
    margin-top: 2%;
}

/*Timer and Score*/
.progress-measures {
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
    padding: 10%;
}

/* Coffee Cup container */

#coffee-cup-container {
    background-color: #a42373;
    padding: 50px;
    border-radius: 2rem;
    height: auto;
    display: flex;
    align-items: center;
}

#coffee-cup {
    display: block;
    max-width: 60%;
    height: auto;
    margin: auto;

}

/*Footer*/
footer {
    background-color: #a42373;
}

.social-networks {
    text-align: center;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.social-networks li {
    display: inline;
    color: #ffffff;
    font-size: 1.2rem;
}

.social-networks i {
    padding: 2%;
    color: #fff;
}

/* Media queries */
@media screen and (max-width: 991px) {

    .progress-measures {
        padding: 0;
        margin: auto;
    }

    .progress-measures p {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.8rem;
    }

    #ingredients_drawer {
        padding: 10px;
    }

    #coffee-cup-container {
        padding: 10px;
    }




}

@media screen and (max-width: 767px) {
    .wrapper {
    display: flex;
    flex-direction: column-reverse;
    }

    .main-body {
    margin: 0;
    }

    .progress-measures {
        margin: 2%;
    }

    .progress-measures p {
        font-size: 1.2rem;
    }

    #ingredients_drawer {
        padding: 10px;
        margin-bottom: 60px;
    }

    #coffee-cup-container {
        padding: 10px;
    }

    .img-responsive {
        height: 35vh !important;
    }

}

@media screen and (max-width: 576px) {
    .progress-measure {
        padding: 0 !important;
        margin: 0;
        position: relative;
    }
    
    .progress-measures p {
        font-size: 0.8rem;
    }

    .img-responsive {
        height: 20vh !important;
    }

    #ingredients_drawer {
        padding: 20px;
        margin-bottom: 60px;
    }

    #drawer-layout {
        height: 5vh !important;
    }

    footer {
        font-size: 0.8rem;
    }
}
/* Contact Form */

.contact-form {
    margin: auto;
}

.form-control {
    margin: 2%;
    background-color: #b8ebb3;
    padding: 1%;
}

/* Error page */

.error-page {
    text-align: center;
}

/* Thank you page */

.thank-you {
    text-align: center;
}

#counter {
    text-align: center;
}
