body {
    font-family: 'Rubik', sans-serif;
    background-color: #291720;
}

header {
    margin-top: 5vh;
}

#drink-random {
    font-family:'Silkscreen', sans-serif;
    color:#820263;
    text-align: center;
    font-size: 40px;
}

h1 {
    color:#FB8B24;
    text-align: center;
    font-size: 30px;
}

p {
    color:#291720;
}

#ingredients_drawer { 
    background-color: #FB8B24;
    padding: 50px;
    border-radius: 2rem;
    height: 40vh;
    margin:auto;
    
}

.drawer-layout {
    display: flex;
    object-fit: cover;
    max-width: 100%;
    padding-bottom: 30px;
    
    &:hover{
        opacity: 0.4;
    };
}

#coffee-cup-container {
    background-color: #820263;
    padding: 50px;
    border-radius: 2rem;
    height: 80vh;
    display: flex;
    align-items: center;
}

#coffee-cup {
    width: 40vh;
}

.reset-button {
    display: flex;
    margin: auto;
}

.main-body {
    margin: 1vw;
}

/* Media queries */

@media screen and (max-width: 991px) {
    .wrapper {
    display: flex;
    flex-direction: column-reverse;
  };
}